{
    "extends": "airbnb-base/legacy",
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "strict": 0,
        "no-var": "error",
        "no-console": 0,
        "max-len": ["error", { "code": 120 }],
        "one-var-declaration-per-line": ["error", "initializations"],
    }
}